nav1{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav1 img{
    width: 150px;

}
nav1 ul img{
    height: 15px;
    width: 15px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #00854A;
    text-decoration: none;
    font-size: 14px;
}
.nav-links ul li ::after {
    content: '';
    width: 0%;
    height: 2px;
    background:#00854A;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after{
   
    width: 100%;
}

nav1 .fa{
    display: none;
}
table{
    width: 70%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid #00854A;
}
td{
    border: 2px solid black;
    padding: 10px;
}
th{
    padding: 25px;
    background-color: cadetblue;
    color: white;
}
.submit{
    border: none;
    outline: none;
    background-color: #00854A;
    color: white;
    padding: 20px;
    margin: 5;
    font-size: 16px;
    display: flex;
    border-radius: 20px;
}
.submitb{
    display: flex;
    border: none;
    outline: none;
    background-color: orange;
    color: black;
    font-size: 16px;
    padding: 20px;
    margin: 5;
    border-radius: 20px;
}